html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
img.ds-logo {
    max-width:50%;
}
/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.ds-home .glyphicon {
    font-size: 50px;
}
/* Client Orders - view */
div.client-order-view div.ds-client-order-view label {
    top:0px;
}
/* Client Orders */
.ds-labels label:first-child {
    background-color: #fff;
    display: inline-block;
    top: -12px;
    position: relative;
    padding: 5px;
    font-weight: 700;
}
.ds-labels-first {
    color:#000 !important;
}
.ds-labels label {
    color:#828282;
    font-size:90%;
}
.ds-legend {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin:10px auto 25px auto;
}
/* client order index page */
.payment_btn {
    text-align: center;
    background-color: darkgreen;
    padding: 10px;
    display: block;
    margin-top: 7px;
    color: #fff;
    border-radius: 4px;
}
a.payment_btn:hover {
    color:#9d9d9d;
    text-decoration: none;
}
.payment_btn_str_closed {
    text-align: center;
    background-color: #000;
    padding: 10px;
    display: block;
    margin-top: 7px;
    color: #fff;
    border-radius: 4px;
}
a.payment_btn_str_closed:hover {
    color:#9d9d9d;
    text-decoration: none;
}
.payment_btn_str_cancel {
    text-align: center;
    background-color: darkgrey;
    padding: 10px;
    display: block;
    margin-top: 7px;
    color: #fff;
    border-radius: 4px;
}
a.payment_btn_str_cancel:hover {
    color:#000;
    text-decoration: none;
}
.ds-required-field {
    color:#ff0000;
}
@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}
@media(max-width:480px) {
    h1 {
        font-size:18px;
    }
    div.grid-view {
        overflow-x:scroll;
    }
}